html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
pre,
code {
  background: #000000;
  color: #ffffff;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.9em;
}
pre {
  padding: 4px;
  overflow-x: auto;
  border-radius: 4px;
  margin: 4px;
}
code {
  padding: 2px 6px;
  border-radius: 4px;
}
