html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  /* background: #001321; */
}
blockquote {
  border-left: 2px solid #1db2d3;
  padding-left: 20px;
  margin: 0;
}
pre,
code {
  background: #000000;
  color: #ffffff;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.75em;
}
pre {
  padding: 8px;
  overflow-x: auto;
  border-radius: 4px;
  margin: 8px;
}
code {
  padding: 2px 6px;
  border-radius: 3px;
}
#core-ssg {
  display: none;
}
