/* Gold 
#C09F52
*/

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Light theme defaults - no Tailwind greys */
/* html,
body {
  background-color: #efefef;
  color: #303030;
} */

/* body {
  @apply bg-white text-black font-sans antialiased;
} */

a {
  /* color: #0066cc;
  text-decoration: underline; */
}

/* a:hover {
  color: #003366;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: black;
}

p {
  color: black;
} */
